include social

mixin quote_2(data)
	.quote.quote_simple
		.quote__main.quote__main_arrow_top
			.quote__content
				.title.title_lg.title_tight.title_color_white.main__space-bot-half.quote__title= data.title
			.dots-sm