$name: modal;

.#{$name} {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	align-items: flex-start;
	justify-content: center;
	overflow-x: hidden;
	padding: 0;
	overflow-y: hidden;
	display: none;

	@include screen-sm() {
		padding: 5% 0 30px;
		overflow-y: auto;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		background-color: white;
		text-align: center;
		position: relative;
		transform: scale(.9);
		overflow: auto;
		opacity: 0;
		transition: $duration ease transform, $duration linear opacity;

		@include screen-sm() {
			width: 900px;
			max-width: 100%;
			height: auto;
		}

		&_row {

			@include screen-sm() {
				flex-direction: row;
			}
		}

		&_visible {
			transition: $duration * 2 ease transform, $duration linear opacity;
			transform: none;
			opacity: 1;
		}
	}

	&__head {
		padding: 4rem 8rem 1.5rem;
	}

	&__close {
		border: none;
		background: none;
		outline: none;
		padding: 0;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		z-index: 1;
		width: 8rem;
		height: 8rem;

		$width: 2.6rem;
		$height: 2px;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: $width;
			height: $height;
			top: 50%;
			left: 50%;
			margin-top: -($height / 2);
			margin-left: -($width / 2);
			background: $color-main;
			transition: $duration / 2 linear;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		&:hover {

			&::before,
			&::after {
				background: lighten($color-main, 10%);
			}
		}

		&:active {

			&::before,
			&::after {
				background: darken($color-main, 10%);
			}
		}
	}

	&__body {
		position: relative;
		padding: 2.5rem 4rem 4rem;

		@include screen-sm(max) {
			height: 100%;
			overflow-y: auto;
			padding: 2.5rem 15px 15px;
		}
	}

	&__col {

		@include screen-sm() {
			width: 50%;
		}

		&_first {
			background: url($path + 'img/content/modal.jpg') no-repeat center / cover;
			padding-bottom: 100%;
			filter: grayscale(1);

			@include screen-sm() {
				padding-bottom: 50%;
				order: 1;
			}
		}

		&_second {
			background: $color-main;
			flex-grow: 1;

			@include screen-sm() {
				display: flex;
				align-items: center;
			}
		}
	}

	&__col-i {
		padding: 4rem;
		width: 100%;
	}

	&__info {
		font-weight: 300;
		font-style: italic;
	}

	&__list {
		color: white;
		font-family: $font-second;
		counter-reset: list 0;
	}

	&__list-item {
		list-style-type: none;

		&::before {
			counter-increment: list;
			content: counter(list) '. ';
		}
	}

	&_visible {
		display: flex;
	}
}