$name: toggle;

.#{$name} {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 60;
	box-sizing: content-box;

	&:hover {

		.#{$name}__line {
			background-color: lighten($color-main, 10%);
		}
	}

	&:active {

		.#{$name}__line {
			background-color: darken($color-main, 10%);
		}
	}

	&__wrap {
		width: 54px;
		height: 40px;
		padding: 12px 15px;
		box-sizing: border-box;
	}

	&__line {
		@extend %transition;
		display: block;
		height: 2px;
		margin-bottom: 5px;
		background: $color-main;
	}

	&_closed {

		.#{$name}__line {

			&:nth-child(1) {
				animation: toggleTopLineRevert $duration ease-out;
				animation-fill-mode: forwards;
			}

			&:nth-child(2) {
				opacity: 1;
			}

			&:nth-child(3) {
				animation: toggleBottomLineRevert $duration ease-out;
				animation-fill-mode: forwards;
				margin-bottom: 0;
			}
		}
	}

	&_opened {

		.#{$name}__line {

			&:nth-child(1) {
				animation: toggleTopLine $duration ease-out;
				animation-fill-mode: forwards;
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				animation: toggleBottomLine $duration ease-out;
				animation-fill-mode: forwards;
			}
		}
	}
}

@keyframes toggleTopLine {

	from {
		transform: none;
	}

	40% {
		transform: translateY(7px);
	}

	60% {
		transform: translateY(7px);
	}

	to {
		transform: translateY(7px) rotate(-45deg);
	}
}

@keyframes toggleBottomLine {

	from {
		transform: none;
	}

	40% {
		transform: translateY(-7px);
	}

	60% {
		transform: translateY(-7px);
	}

	to {
		transform: translateY(-7px) rotate(45deg);
	}
}

@keyframes toggleTopLineRevert {

	from {
		transform: translateY(7px) rotate(-45deg);
	}

	40% {
		transform: translateY(7px);
	}

	60% {
		transform: translateY(7px);
	}

	to {
		transform: none;
	}
}

@keyframes toggleBottomLineRevert {

	from {
		transform: translateY(-7px) rotate(45deg);
	}

	40% {
		transform: translateY(-7px);
	}

	60% {
		transform: translateY(-7px);
	}

	to {
		transform: none;
	}
}