$name: bracket;

.#{$name} {
	position: relative;
	display: inline-block;
	color: white;

	&__text {
		display: block;
		margin: .2em;
		line-height: .8;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url($path + 'img/icons/bracket-left.svg'), url($path + 'img/icons/bracket-right.svg');
		background-repeat: no-repeat, no-repeat;
		background-size: contain, contain;
		background-position: left, right;
		pointer-events: none;
	}

	&_wide {

		.#{$name} {
			// =====

			&__text {
				padding: 0 1em;
			}
		}
	}
}