$name: btn;

.#{$name} {
	@extend %transition;
	display: inline-block;
	font-family: $font-main;
	font-size: 2.4rem;
	font-weight: normal;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	color: white;
	background-color: $color-main;
	text-align: center;
	cursor: pointer;
	line-height: 1.2;
	box-shadow: 0 1.3rem 0 rgba(black, .1);
	outline: none;
	padding: 1.3em;
	word-break: break-word;

	&:hover,
	&:focus {
		background-color: lighten($color-main, 10%);
	}

	&:active {
		background-color: darken($color-main, 10%);
	}

	&_wide {
		padding-left: 2.6em;
		padding-right: 2.6em;
	}

	&_sm {
		padding-top: .65em;
		padding-bottom: .65em;
	}

	&_disabled {
		background-color: $color-darkgray;
		cursor: default;

		&:hover,
		&:focus,
		&:active {
			background-color: $color-darkgray;
		}
	}
}