$name: btn;

.#{$name} {
	@extend %transition;
	display: inline-block;
	font-family: $font-main;
	font-size: 2.4rem;
	font-weight: normal;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	color: white;
	background-color: $color-main;
	text-align: center;
	cursor: pointer;
	line-height: 1.2;
	outline: none;
	padding: 1.3em .9em;
	word-break: break-word;

	&:hover {
		background-color: lighten($color-main, 10%);
	}

	&:active {
		background-color: darken($color-main, 10%);
	}
}