$name: info;

.#{$name} {
	display: block;
	border: 2px solid black;
	box-shadow: 0 1.3rem 0 rgba(black, .1);
	text-transform: uppercase;
	font-family: $font-second;
	color: black;
	padding: 1rem 3rem;
	font-weight: bold;
	text-align: center;

	&_strong {
		border-color: $color-light;
		box-shadow: none;
		font-family: $font-main;
		text-transform: uppercase;
		padding: 2rem 3rem;
		font-size: 2.4rem;
		text-align: left;
		font-weight: normal;
	}

	&_fill {
		border: none;
		box-shadow: none;
		background-color: rgba($color-light, .15);
	}

	&_fill-bold {
		border: none;
		box-shadow: none;
		background-color: rgba($color-light, .4);
	}
}