$name: main;

.#{$name} {
	flex: 1 0 auto;

	&__separator {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid $color-text;

		&:first-child {
			margin-top: 30px;
		}
	}

	&__space-col {
		margin-bottom: 30px;
	}

	&__space-bot {
		margin-bottom: 4rem;
	}

	&__space-bot-half {
		margin-bottom: 2rem;
	}

	&__space-bot-2x {
		margin-bottom: 8rem;
	}

	&__black {
		background: black;
	}

	&__strong {
		color: $color-main;
	}

	&__list {
		margin-bottom: 30px;

		@include screen-md() {
			min-height: 15rem;
		}
	}

	&__info {
		height: 100%;
		padding-right: 20rem;
	}
}