$name: social;

.#{$name} {
	display: inline-flex;
	flex-wrap: wrap;
	font-size: 20px;

	@include screen-sm() {
		font-size: 2.6rem;
	}

	&__link {
		@extend %transition;
		color: black;
		width: 48px;
		height: 32px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;

		@include screen-sm() {
			width: 6rem;
			height: 4rem;
		}

		&::after {
			content: '';
			position: absolute;
			top: 35%;
			height: 30%;
			right: 0;
			width: 1px;
			background: black;
		}

		&:last-child {

			&::after {
				display: none;
			}
		}

		&:hover {
			color: $color-light;
		}

		&_vk {

			&:hover {
				color: $color-vk;
			}
		}

		&_youtube {

			&:hover {
				color: $color-yt;
			}
		}

		&_instagram {

			&:hover {
				color: $color-insta;
			}
		}
	}

	&__icon {

	}

	&_color_white {

		.#{$name} {
			// =====

			&__link {
				color: white;

				&:hover {
					color: $color-light;
				}

				&_vk {

					&:hover {
						color: $color-vk;
					}
				}

				&_youtube {

					&:hover {
						color: $color-yt;
					}
				}

				&_instagram {

					&:hover {
						color: $color-insta;
					}
				}
			}
		}
	}

	&_separate_none {

		.#{$name} {
			// =====

			&__link {

				&::after {
					display: none;
				}
			}
		}
	}
}