$name: title;

.#{$name} {
	font-size: 3.7rem;
	color: black;
	text-transform: uppercase;
	font-weight: normal;

	&_lower {
		text-transform: none;
	}

	&_color_white {
		color: white;
	}

	&_color_main {
		color: $color-main;
	}

	&_color_light {
		color: $color-light;
	}

	&_tight {
		font-family: $font-second;
		font-weight: bold;
		line-height: 1.2;
	}

	&_mark {

		&::before {
			content: '';
			display: inline-block;
			width: .4em;
			height: .4em;
			background: $color-text;
			margin-right: .5em;
			margin-bottom: 0.07em;
		}
	}

	&_xs {
		font-size: 2.4rem;
	}

	&_sm {
		font-size: 3.2rem;
	}

	&_lg {
		font-size: 5.6rem;
	}

	&_xl {
		font-size: 7.4rem;
	}
}