$name: video;

.#{$name} {
	position: relative;
	background-color: black;
	padding-bottom: 56.25%;
	cursor: pointer;

	&:hover {

		.video__play-fill {
			transition: fill .1s cubic-bezier(0, 0, .2, 1), fill-opacity .1s cubic-bezier(0, 0, .2, 1);
			fill: #cc181e;
			fill-opacity: 1;
		}
	}

	&__preview {
		position: absolute;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
	}

	&__play {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 68px;
		height: 48px;
		margin-left: -34px;
		margin-top: -24px;
		transition: opacity .25s cubic-bezier(0, 0, .2, 1);
		background-color: transparent;
		border: none;
		cursor: pointer;
		outline: none;

		svg {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}

	&__play-fill {
		transition: fill .1s cubic-bezier(.4, 0, 1, 1), fill-opacity .1s cubic-bezier(.4, 0, 1, 1);
		fill: #1f1f1f;
		fill-opacity: .81;
	}

	&__frame {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}