$name: header;

.#{$name} {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	transform: translate3d(0, 0, 0);
	z-index: 50;
	background: linear-gradient(to bottom, $color-text, transparent);

	&__wrap {
		padding: 0 15px;

		@include screen-lg() {
			padding: 0 6rem;
		}
	}

	&__row {
		display: flex;
	}

	&__col {

		&_fixed {
			transition: $duration ease;
			padding-top: 3rem;
			padding-bottom: 3rem;
			flex: none;
		}

		&_flex {
			flex: auto;
			margin-left: auto;
			display: flex;
			justify-content: flex-end;
		}
	}

	&__logo {
		@extend %transition;
		display: block;
	}

	&__menu {
		display: none;

		@include screen-md() {
			list-style-type: none;
			height: 100%;
			padding-left: 15px;
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
		}
	}

	&__menu-item {

	}

	&__menu-link {
		font-size: 1.8rem;
		padding: 2rem 1.3rem;
		text-transform: uppercase;
		height: 100%;
		display: flex;
		align-items: center;
		text-align: center;

		@include screen-xxl {
			font-size: 2.1rem;
		}

		@include screen-xl() {
			padding: 2rem;
		}

		&:hover {

			.#{$name} {
				// =====

				&__menu-text {
					color: $color-main;
					border-bottom-color: $color-main;
				}
			}
		}

		&:active {

			.#{$name} {
				// =====

				&__menu-text {
					color: darken($color-main, 10%);
					border-bottom-color: darken($color-main, 10%);
				}
			}
		}
	}

	&__menu-text {
		@extend %transition;
		display: block;
		color: white;
		border-bottom: 2px solid transparent;
	}

	&__toggle-wrap {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		display: flex;
		align-items: center;
		z-index: 80;

		@include screen-md() {
			display: none;
		}
	}

	&_collapse {

		.#{$name} {
			// =====

			&__col {

				&_fixed {
					padding-top: 1.5rem;
					padding-bottom: 1.5rem;
				}
			}

			&__logo {
				height: 5rem;
			}
		}
	}
}

span.#{$name}__menu-link {
	cursor: default;

	.#{$name} {
		// =====

		&__menu-text {
			border-bottom-color: white;
		}
	}

	&:hover,
	&:active {

		.#{$name} {
			// =====

			&__menu-text {
				color: white;
				border-bottom-color: white;
			}
		}
	}
}