$name: radio;

.#{$name} {

	&__item {
		display: block;
	}

	&__input {
		display: none;

		&:checked {

			+ .#{$name}__label {
				color: $color-main;

				&::before {
					box-shadow: 0 0 0 1px $color-main;
					background: $color-main;
					border: 0 solid transparent;
				}

				&:hover {
					color: lighten($color-main, 10%);

					&::before {
						box-shadow: 0 0 0 1px lighten($color-main, 10%);
						background: lighten($color-main, 10%);
					}
				}

				&:active {
					color: darken($color-main, 10%);

					&::before {
						box-shadow: 0 0 0 1px darken($color-main, 10%);
						background: darken($color-main, 10%);
					}
				}
			}
		}
	}

	&__label {
		@extend %transition;
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding: .25em 0 .25em 4rem;
		color: $color-text;
		user-select: none;

		&::before {
			@extend %transition;
			content: '';
			position: absolute;
			left: 0;
			top: .5em;
			width: 2rem;
			height: 2rem;
			border-radius: 50%;
			box-shadow: 0 0 0 1px $color-text;
			border: 1rem solid white;
			background: $color-text;
		}

		&:hover {
			color: lighten($color-text, 15%);

			&::before {
				box-shadow: 0 0 0 1px lighten($color-text, 15%);
				background: lighten($color-text, 15%);
				border: .5rem solid white;
			}
		}

		&:active {
			color: darken($color-text, 15%);

			&::before {
				box-shadow: 0 0 0 1px darken($color-text, 15%);
				background: darken($color-text, 15%);
				border: .5rem solid white;
			}
		}
	}
}