include ../mixins/radio
include ../mixins/bg-img

mixin question(data)
	.question(class= attributes.class)
		.row

			.col-md-5.order-md-1.main__space-bot
				+bg-img({
					img: data.img
				})(class='question__img')

			.col-md-7
				.title.title_tight.title_sm.title_lower.main__space-bot.question__title= data.title
				.question__radio-wrap.main__space-bot

					each val in data.radio
						+radio(val)(class='question__radio')

				button.btn.btn_sm.btn_disabled.question__btn Дальше