.section.section_up.section_grow.section_valign_center.section_space-bot_none.section_fog_light(style='background-image: url(img/content/section/02.jpg);')
	.container.text-center
		.main__space-top-inner.main__space-bot-2x-inner
			.bracket.bracket_color_main.bracket_wide.main__space-bot
				.bracket__text
					.title.title_xxl.title_color_main 404
			h2.title.main__space-bot Страница не найдена
			a(href= global.link_home) Вернуться на главную