.section.section_up.section_full.section_valign_center.section_fog_dark(style='background-image: url(img/content/section/06.jpg); background-position: 75% 30%;')
	.container
		.row
			.col-md-7.main__space-bot.center-sm-max
				h1.bracket.title.title_lg.title_color_main
					.bracket__text Обо мне
		.row
			.col-md-7.main__space-bot-2x
				h2.title.title_lower.title_color_white.title_quote Пока все эксперты соревнуются за звание «лучшего соблазнителя», я лишь хотел научиться легко знакомиться с самыми красивыми девушками без понтов и прочей херни...
		.row
			.col-sm-8.offset-sm-2.col-md-5.offset-md-2
				.title.title_color_white.section__about= global.author

	.section__next