include ../mixins/simple-list
include ../mixins/member
include ../mixins/list
include ../mixins/video-inner
include ../components/rate
include ../components/review

.section.section_up.section_full.section_valign_center.section_fog_dark.section_space-top_header-2x.section_space-bot_2x(style='background-image: url(img/content/section/07.jpg);')
	.container.text-center
		.main__space-bot-2x
			h1.title.title_lg
				span.mark Новая двухмесячная движуха
			h2.title.title_xl
				span.mark.mark_color_main «Лига Справедливости»

		.title.title_lower.bracket.bracket_wide.bracket_tall
			.mark.mark_color_main.bracket__text Набор закрыт

.section.section_space_2x
	.container
		.row.main__space-bot
			.col-md-10.offset-md-1

				.text-center.main__space-bot
					h2.title.title_lg.title_tight.title_color_main Что это?

				.main__space-bot
					.info.info_strong
						p Это не тренинг личностного роста и даже не просто программа о том, как легко знакомиться и строить крепкие отношения с классными девушками!
						p
							b= '«Лига Справедливости» не похожа ни на один банальный пикап тренинг или программу по соблазнению девушек от «а» до «я». '
							| И вот чем она кардинально отличается:

				each val, i in content_5
					.main__space-bot
						+simple-list(val.title, i + 1)(class='simple-list_color_red')
						div!= val.text

		+rate(rate)

.section.section_space_2x.section_color_main.section_fill_gobbler
	.container.text-center
		.title.title_color_white.title_tight.title_lower В этой «Лиге Справедливости» я давал все самое лучшее, что только знаю, но я не стою на месте. И, учитывая мой громадный опыт общения с парнями, который я получил в этой движухе, я с уверенностью могу сказать, что следующая движуха будет в разы лучше!

.section.section_space_2x.section_color_gray
	.container.text-center

		.row.justify-content-center.main__space-bot
			.col-md-8.col-lg-6
				h2.title.title_lower.title_tight Видео реальных знакомств, которые мы разбирали на движухе с участниками

		.row.justify-content-center
			.col-md-10.col-lg-8
				.video(data-id="Y_NjFah58LM")

.section.section_space_2x.section_fog_darker.section_line_before(style='background-image: url(img/content/section/04.jpg);')
	.container
		.text-center
			h2.title.title_lg
				span.mark Участники

	.section__next.section__next_center

.section.section_space-top_4x.section_space-bot_2x
	.container
		.row.grid-line

			each val in member
				.col-6.col-sm-4.col-md-3.main__space-bot-2x-inner.grid-line__item
					+member(val)

.section.section_space_none
	+review(review_3)(class='review_dark')

.section.section_space_2x.section_fog_darker(style='background-image: url(img/content/section/04.jpg);')
	.container

		.row.justify-content-center
			.col-md-8.col-lg-7.col-xl-6.main__space-bot-2x.text-center
				h2.title
					span.mark Ответы на часто задаваемые вопросы:

			each val, i in list_2
				.col-md-9.main__space-bot
					+list(val, i + 1)(class='list_column')