include ../mixins/input
include ../mixins/dots
include ../mixins/list
include ../mixins/simple-list
include ../components/logo
include ../components/social
include ../components/quote
include ../components/quote_2
include ../components/review
include ../components/banner
include ../components/rate

.container

	.row.main__separator

		.col-sm-6.main__space-col
			.title .title

		.col-sm-6.main__space-col
			.title.title_lower .title.title_lower

		.col-sm-6.main__space-col.main__black
			.title.title_color_white .title.title_color_white

		.col-sm-6.main__space-col
			.title.title_color_main .title.title_color_main

		.col-sm-6.main__space-col
			.title.title_color_light .title.title_color_light

		.col-sm-6.main__space-col
			.title.title_tight .title.title_tight

		.col-sm-6.main__space-col
			.title.title_mark .title.title_mark

		.col-sm-6.main__space-col
			.title.title_quote .title.title_quote

		.col-12.main__space-col
			.title.title_xs .title.title_xs

		.col-12.main__space-col
			.title.title_sm .title.title_sm

		.col-12.main__space-col
			.title.title_lg .title.title_lg

		.col-12.main__space-col
			.title.title_xl .title.title_xl

		.col-12.main__space-col
			.title.title_icon_clock .title.title_icon

	.row.main__separator

		.col-sm-3
			+simple-list('.simple-list', 1)

		.col-sm-6
			+simple-list('.simple-list.simple-list_color_red', 1)(class='simple-list_color_red')

	.row.main__separator

		.col-sm-3.main__space-col.main__black
			.mark .mark

		.col-sm-3.main__space-col.main__black
			.mark.mark_color_main .mark.mark_color_main

	.row.main__separator

		.col-sm-3.main__space-col.main__black
			.bracket
				.bracket__text .bracket

		.col-sm-3.main__space-col.main__black
			.bracket.bracket_wide
				.bracket__text .bracket.bracket_wide

		.col-sm-3.main__space-col.main__black
			.bracket.bracket_tall
				.bracket__text .bracket.bracket_tall

	.row.main__separator

		.col-sm-3.main__space-col
			.btn .btn

		.col-sm-3.main__space-col
			a(href='#').btn a.btn

		.col-sm-3.main__space-col
			input(type='button' value='input.btn').btn

		.col-sm-3.main__space-col
			button.btn button.btn

		.col-sm-3.main__space-col
			.btn.btn_wide .btn.btn_wide

	.row.main__separator

		.col-sm-3
			a.link(href='#') .link

		.col-sm-3
			a.link.link_thin(href='#') .link.link_thin

		.col-sm-3
			a.link.link_arrow_after(href='#') .link.link_arrow_after

		.col-sm-3
			a.link.link_upper(href='#') .link.link_upper

	.row.main__separator

		.col-sm-6.main__black
			+logo

	.row.main__separator

		.col-sm-6
			+social(social)

	.row.main__separator

		.col-sm-1
			.star

		.col-sm-1
			.star.star_disabled

	.row.main__separator

		.col-sm-3
			+input({
				title: '.input'
			})

		.col-sm-3
			+input({
				title: '.input.input_invalid'
			})(class='input_invalid')

		.col-sm-3
			+input({
				title: 'textarea.input',
				textarea: true
			})

	.row.main__separator.main__black

		.col-sm-3
			+dots(7)

		.col-sm-3
			+dots(7)(class='dots_big')

	.row.main__separator

		.col-sm-3
			.info .info

		.col-sm-3
			.info.info_strong .info.info_strong

	.row.main__separator

		.col-sm-3
			a.link(href='#' data-modal='modal') modal-1

		.col-sm-3
			a.link(href='#' data-modal='modal2') modal-2

	.row.main__separator.main__black

		.col-sm-3
			.arrow

	.row.main__separator

		.col-sm-3
			.dots-sm

	.row.main__separator

		.col-sm-3
			+quote(quote)

		.col-sm-5
			+quote_2({
				title: 'И это далеко не всё!'
			})

	.row.main__separator.main__black

		.col-12.main__space-bot
			+list(list[0])

		.col-12.main__space-bot
			+list(list[0])(class='list_column')

.main__space-col
	+review(review)

.main__space-col
	+review(review)(class='review_reversed')

.main__separator
	+review(review)(class='review_dark')

.container

	.row.main__separator.main__black
		.col-sm-5
			+banner

	.row.main__separator
		.col-12
			+rate(rate)