include ../components/logo
include ../components/social

.container

	.row.main__separator

		.col-sm-6.main__space-col
			.title .title

		.col-sm-6.main__space-col
			.title.title_lower .title.title_lower

		.col-sm-6.main__space-col.main__black
			.title.title_color_white .title.title_color_white

		.col-sm-6.main__space-col
			.title.title_color_main .title.title_color_main

		.col-sm-6.main__space-col
			.title.title_color_light .title.title_color_light

		.col-sm-6.main__space-col
			.title.title_tight .title.title_tight

		.col-12.main__space-col
			.title.title_xs .title.title_xs

		.col-12.main__space-col
			.title.title_sm .title.title_sm

		.col-12.main__space-col
			.title.title_lg .title.title_lg

		.col-12.main__space-col
			.title.title_xl .title.title_xl

	.row.main__separator

		.col-sm-3.main__space-col.main__black
			.mark .mark

		.col-sm-3.main__space-col.main__black
			.mark.mark_color_main .mark.mark_color_main

	.row.main__separator

		.col-sm-6.main__space-col.main__black
			.bracket
				.bracket__text .bracket

		.col-sm-6.main__space-col.main__black
			.bracket.bracket_wide
				.bracket__text .bracket.bracket_wide

	.row.main__separator

		.col-sm-3.main__space-col
			.btn .btn

		.col-sm-3.main__space-col
			a(href='#').btn a.btn

		.col-sm-3.main__space-col
			input(type='button' value='input.btn').btn

		.col-sm-3.main__space-col
			button.btn button.btn

	.row.main__separator

		.col-sm-3
			a.link(href='#') .link

	.row.main__separator

		.col-sm-6.main__black
			+logo

	.row.main__separator

		.col-sm-6
			+social(social)