$name: quiz;

.#{$name} {

	&__section-test {
		display: none;
	}

	&__section-wait {
		display: none;
	}

	&__section-end {
		display: none;
	}

	&__bg-helper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: white;
		display: none;
	}

	&__question {

		&_hidden {
			display: none;
		}
	}

	&__end-trigger-wrap {
		display: none;
	}

	&__result {

		&::after {
			content: attr(data-result);
		}
	}
}