$name: quiz;

.#{$name} {

	&__section-start {

	}

	&__section-test {
		display: none;
	}

	&__section-wait {
		display: none;
	}

	&__section-end {
		display: none;

		&_result_1 {

			.#{$name} {
				// =====

				&__result {

					&_1 {
						display: block;
					}
				}
			}
		}

		&_result_2 {

			.#{$name} {
				// =====

				&__result {

					&_2 {
						display: block;
					}
				}
			}
		}

		&_result_3 {

			.#{$name} {
				// =====

				&__result {

					&_3 {
						display: block;
					}
				}
			}
		}

		&_result_4 {

			.#{$name} {
				// =====

				&__result {

					&_4 {
						display: block;
					}
				}
			}
		}
	}

	&__result {
		display: none;

		&_visible {
			display: block;
		}
	}

	&__question {

		&_hidden {
			display: none;
		}
	}

	&__end-trigger-wrap {
		display: none;
	}

	&__scale {

		@include screen-sm() {
			height: 100%;
		}
	}
}