$name: section;

.#{$name} {
	padding: 4rem 0;
	background: no-repeat center / cover;
	position: relative;

	&__bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	&__desc {
		color: $color-darkgray;
		text-transform: uppercase;
		font-size: 1.9rem;
	}

	&__quote-wrap {

		@include screen-lg() {
			margin-top: -16rem;
		}
	}

	&__next {
		@extend %transition;
		position: absolute;
		bottom: -5.5rem;
		right: 50%;
		transform: translateX(50%);
		width: 8rem;
		height: 8rem;
		background: $color-main;
		color: white;
		font-size: 7rem;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		overflow: hidden;
		z-index: 10;

		@include screen-sm() {
			bottom: -4rem;
			transform: none;
			right: 10%;
		}

		&::after {
			content: '\f107';
			font-family: $font-fa;
			line-height: 1;
		}

		&:hover {
			background-color: lighten($color-main, 10%);
		}

		&:active {
			background-color: darken($color-main, 10%);
		}

		&_left {

			@include screen-sm() {
				left: 10%;
				right: auto;
			}
		}

		&_light {
			background: white;
			color: $color-main;

			&:hover {
				background: white;
				color: lighten($color-main, 10%);
			}

			&:active {
				background: white;
				color: darken($color-main, 10%);
			}
		}
	}

	&__hand {
		background: url($path + 'img/icons/hand.svg') no-repeat center / contain;
		position: absolute;
		bottom: -8rem;
		right: 4rem;
		height: 0;
		width: 20%;
		padding-bottom: 60%;

		@include screen-sm() {
			right: -5rem;
		}

		@include screen-md() {
			bottom: auto;
			top: -8rem;
		}
	}

	&__hand-btn {
		position: relative;
		z-index: 1;
	}

	&_full {
		min-height: 100vh;
	}

	&_up {
		margin-top: -#{$height-header};
		padding: $height-header 0;
	}

	&_line_after {

		&::after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 3rem;
			width: 100%;
			background: $color-main;
		}
	}

	&_overflow_hidden {
		overflow: hidden;
	}

	&_valign_center {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&_space-bot_header-2x {
		padding-bottom: $height-header * 2;
	}

	&_space_2x {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	&_space-top_2x {
		padding-top: 8rem;
	}

	&_space-bot_2x {
		padding-bottom: 8rem;
	}

	&_space_none {
		padding-top: 0;
		padding-bottom: 0;
	}

	&_space-top_none {
		padding-top: 0;
	}

	&_space-bot_none {
		padding-bottom: 0;
	}

	&_fog_dark,
	&_fog_light {

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&_fog_dark {

		&::before {
			background: rgba(40, 40, 40, .6);
		}
	}

	&_fog_light {

		&::before {
			background: rgba(255, 255, 255, .8);
		}
	}

	&_color_main {
		background: $color-main;
	}
}