// Служебные файлы
@import 'global/variables'; // SASS переменные
@import 'global/fonts'; // Шрифты
@import 'global/global'; // Глобальные стили
// =====

// Блоки
@import 'blocks/bracket'; // Блок с квадратными скобками
@import 'blocks/title'; // Заголовок
@import 'blocks/mark'; // Выделение текста
@import 'blocks/btn'; // Кнопка
@import 'blocks/link'; // Ссылка
@import 'blocks/logo'; // Логотип
@import 'blocks/social'; // Социальные иконки
@import 'blocks/star'; // Звезда
@import 'blocks/up/up'; // Кнопка наверх
@import 'blocks/input/input'; // Поля ввода
@import 'blocks/modal/modal'; // Модалка
@import 'blocks/fog'; // Затемнение
@import 'blocks/dots'; // Блок с точками
@import 'blocks/info'; // Плашка с текстом
@import 'blocks/arrow'; // Белая стрелка
@import 'blocks/quote'; // Блок с цитатой
@import 'blocks/dots-sm'; // Плитка с маленькими точками
@import 'blocks/list'; // Список
@import 'blocks/review/review'; // Слайдер с отзывами
@import 'blocks/banner'; // Баннер с оффером
@import 'blocks/simple-list'; // Простой список
@import 'blocks/rate'; // Блок с рейтингом
@import 'blocks/video/video'; // Блок с видео
@import 'blocks/video-inner/video-inner'; // Внутреннее видео
@import 'blocks/member'; // Карточка участника
@import 'blocks/toggle/toggle'; // Гамбургер
@import 'blocks/aside/aside'; // Боковое меню
@import 'blocks/grid-line'; // Сетка с полосками
@import 'blocks/radio/radio'; // Радиокнопки
@import 'blocks/question/question'; // Блок с вопросом
/* Blocks will be inserted here */
// =====

// Внешние контейнеры
@import 'blocks/header/header'; // Шапка
@import 'blocks/footer'; // Подвал
@import 'blocks/section/section'; // Секция контента
@import 'blocks/main'; // Контейнер контента
@import 'blocks/wrapper'; // Внешний контейнер
// =====