// Служебные файлы
@import 'global/variables'; // SASS переменные
@import 'global/fonts'; // Шрифты
@import 'global/global'; // Глобальные стили
// =====

// Блоки
@import 'blocks/bracket'; // Блок с квадратными скобками
@import 'blocks/title'; // Заголовок
@import 'blocks/mark'; // Выделение текста
@import 'blocks/btn'; // Кнопка
@import 'blocks/link'; // Ссылка
@import 'blocks/logo'; // Логотип
@import 'blocks/social'; // Социальные иконки
@import 'blocks/star'; // Звезда
@import 'blocks/up/up'; // Кнопка наверх
@import 'blocks/input/input'; // Поля ввода
/* Blocks will be inserted here */
// =====

// Внешние контейнеры
@import 'blocks/header'; // Шапка
@import 'blocks/footer'; // Подвал
@import 'blocks/section'; // Секция контента
@import 'blocks/main'; // Контейнер контента
@import 'blocks/wrapper'; // Внешний контейнер
// =====