$color-main: #e5462e;
$color-light: #ff9282;
$color-text: #333;
$color-darkgray: #999;
$color-gray: #e5e5e5;

$color-vk: #45668e;
$color-insta: #bc2a8d;
$color-yt: #b00;

$point-sm: 576px;
$point-md: 768px;
$point-lg: 992px;
$point-xl: 1200px;
$point-sm-max: $point-sm - 1;
$point-md-max: $point-md - 1;
$point-lg-max: $point-lg - 1;
$point-xl-max: $point-xl - 1;

$font-main: 'Geometria', sans-serif;
$font-second: 'Akrobat', sans-serif;
$font-fa: 'FontAwesome', sans-serif;
$font-system: 'Arial', sans-serif;

$duration: .3s;

$path: '../';

$height-header: 14rem;

// ----------------------------
// МИКСИНЫ ДЛЯ ТЕКУЩЕГО ПРОЕКТА
// ----------------------------
%transition {
	transition: $duration / 2 ease;
}
// ----------------------------
//
//
//
// -------------
// ОБЩИЕ МИКСИНЫ
// -------------

// Брейкпоинты
@mixin screen-sm($direct: 'min') {

	@media (if($direct == 'max', 'max-width: #{$point-sm-max}', 'min-width: #{$point-sm}')) {
		@content;
	}
}

@mixin screen-md($direct: 'min') {

	@media (if($direct == 'max', 'max-width: #{$point-md-max}', 'min-width: #{$point-md}')) {
		@content;
	}
}

@mixin screen-lg($direct: 'min') {

	@media (if($direct == 'max', 'max-width: #{$point-lg-max}', 'min-width: #{$point-lg}')) {
		@content;
	}
}

@mixin screen-xl($direct: 'min') {

	@media (if($direct == 'max', 'max-width: #{$point-xl-max}', 'min-width: #{$point-xl}')) {
		@content;
	}
}
// ===========

// Ретина
@mixin retina() {

	@media (min-resolution: 2dppx) {
		@content;
	}
}

// Подключение изображений для ретины
@mixin bgi-retina($file, $type: 'png', $width: 100%, $height: $width) {
	background-image: url($file + '.' + $type);

	@include retina() {
		background-image: url($file + '@2x.' + $type);

		@if $width == cover or $width == contain {
			$height: null;
		}
		background-size: $width $height;
	}
}

// Стили плейсхолдера инпутов
@mixin input-placeholder() {

	&::-webkit-input-placeholder {
		@content;
	}

	&::-moz-placeholder {
		@content;
	}

	&:-moz-placeholder {
		@content;
	}

	&:-ms-input-placeholder {
		@content;
	}
}

// Сброс жёлтого выделения в хроме
@mixin input-autofill($font-color: black, $font-color-selected: $font-color, $bg-color: white) {

	&:-webkit-autofill {
		box-shadow: inset 0 0 0 50px $bg-color; /* Цвет фона */
		-webkit-text-fill-color: $font-color; /* цвет текста */
		color: $font-color; /* цвет текста */

		&::selection {
			-webkit-text-fill-color: $font-color-selected; /* цвет текста */
			color: $font-color-selected; /* цвет текста */
		}
	}
}

// -------------