// FOOTER
footer.footer

	.container-fluid.footer__wrap
		.footer__text= '© ' + global.author + ', проект «' + global.name + '», 2018 г.'
		.footer__licence
			a.link.footer__link(href='#') Пользовательское соглашение

	button.up.footer__up