include ../mixins/input
include ../mixins/dots
include ../components/social

// MODAL
#modal.modal
	.modal__wrap

		.modal__head
			h2.title Более 30 видео упражнений уже ждут тебя
			button.modal__close(data-modal-close)

		.modal__body
			.row
				.col-sm-8.offset-sm-2
					.main__space-bot Введи свое имя и e-mail и ты получишь полный доступ к закрытому видео разделу проекта абсолютно бесплатно!

				.col-sm-8.offset-sm-2.col-md-6.offset-md-3
					.main__space-bot
						+input({
							title: 'Имя'
						})
					.main__space-bot
						+input({
							title: 'E-mail',
							type: 'email'
						})
					.main__space-bot
						input.btn.btn_wide(type='submit' value='Получить')

				.col-12
					.modal__info Никакого спама! Если тебе что-то не понравится, ты сможешь отписаться в любой момент.

#modal2.modal
	.modal__wrap.modal__wrap_row

		.modal__col.modal__col_first

		.modal__col.modal__col_second
			.modal__col-i
				.main__space-bot.text-right
					+dots(7)
				.main__space-bot
					.info Отправь мне сообщение в «вконтакте» или на почту с темой: «бесплатная консультация» и укажи:
				.main__space-bot
					ol.modal__list
						li.modal__list-item Имя и Фамилию
						li.modal__list-item Возраст
						li.modal__list-item Город
						li.modal__list-item В 4-5 предложениях опиши свою главную проблему, которую ты хотел бы решить.
				+social(social_2)

		button.modal__close(data-modal-close)